.searchPromoSection {
  position: relative;
  height: 100px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  border-radius: $border-radius;
}

.searchPromoSectionImage {
  object-fit: cover;
  border-radius: $border-radius;
  transition: $transition-transform;
  transform-origin: center;

  &:hover {
    transform: scale(1.05);
  }
}
