@use "../../../../styles/main" as *;

// TODO check if button styles are correct or we need a rework
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  font-weight: $font-weight-normal;
  cursor: pointer;
  transition: $transition-fast;
  border: 0.125rem solid transparent;

  &:focus-visible {
    outline: 0.125rem solid $color-accent;
    outline-offset: 0.125rem;
  }

  &:disabled:not(.unstyled) {
    @include disabled-opacity;
  }
}

.default {
  background-color: $color-background;
  border-color: $color-secondary;

  @include hover-on-non-touch(background-color, $color-primary);
}

.primary {
  background-color: $color-primary;

  @include hover-on-non-touch(opacity, 0.9);
}

.secondary {
  background-color: $color-secondary;

  @include hover-on-non-touch(opacity, 0.9);
}

.accent {
  background-color: $color-accent;

  @include hover-on-non-touch(opacity, 0.9);
}

.accent2 {
  background-color: $color-accent2;

  @include hover-on-non-touch(opacity, 0.9);
}

.success {
  background-color: $color-success;

  @include hover-on-non-touch(opacity, 0.9);
}

.error {
  background-color: $color-error;

  @include hover-on-non-touch(opacity, 0.9);
}

.warning {
  background-color: $color-warning;

  @include hover-on-non-touch(opacity, 0.9);
}

.inverse {
  background-color: $color-foreground;

  @include hover-on-non-touch(opacity, 0.9);
}

.unstyled {
  // TODO check if this variant styles are correct or we need a rework, specially the hover visual feedback
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;

  &.xs,
  &.sm,
  &.md,
  &.lg,
  &.xl {
    padding: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.xs {
  @include property-per-breakpoint(
    padding,
    (
      base: $button-padding-xs-vertical-base $button-padding-xs-horizontal-base,
      sm: $button-padding-xs-vertical-sm $button-padding-xs-horizontal-sm,
      md: $button-padding-xs-vertical-md $button-padding-xs-horizontal-md,
    )
  );
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-xs-base,
      sm: $font-size-xs-sm,
      md: $font-size-xs-md,
      lg: $font-size-xs-lg,
      xl: $font-size-xs-xl,
      2xl: $font-size-xs-2xl,
      3xl: $font-size-xs-3xl,
    )
  );
}

.sm {
  @include property-per-breakpoint(
    padding,
    (
      base: $button-padding-sm-vertical-base $button-padding-sm-horizontal-base,
      sm: $button-padding-sm-vertical-sm $button-padding-sm-horizontal-sm,
      md: $button-padding-sm-vertical-md $button-padding-sm-horizontal-md,
    )
  );
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-sm-base,
      sm: $font-size-sm-sm,
      md: $font-size-sm-md,
      lg: $font-size-sm-lg,
      xl: $font-size-sm-xl,
      2xl: $font-size-sm-2xl,
      3xl: $font-size-sm-3xl,
    )
  );
}

.md {
  @include property-per-breakpoint(
    padding,
    (
      base: $button-padding-md-vertical-base $button-padding-md-horizontal-base,
      sm: $button-padding-md-vertical-sm $button-padding-md-horizontal-sm,
      md: $button-padding-md-vertical-md $button-padding-md-horizontal-md,
    )
  );
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-md-base,
      sm: $font-size-md-sm,
      md: $font-size-md-md,
      lg: $font-size-md-lg,
      xl: $font-size-md-xl,
      2xl: $font-size-md-2xl,
      3xl: $font-size-md-3xl,
    )
  );
}

.lg {
  @include property-per-breakpoint(
    padding,
    (
      base: $button-padding-lg-vertical-base $button-padding-lg-horizontal-base,
      sm: $button-padding-lg-vertical-sm $button-padding-lg-horizontal-sm,
      md: $button-padding-lg-vertical-md $button-padding-lg-horizontal-md,
    )
  );
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-lg-base,
      sm: $font-size-lg-sm,
      md: $font-size-lg-md,
      lg: $font-size-lg-lg,
      xl: $font-size-lg-xl,
      2xl: $font-size-lg-2xl,
      3xl: $font-size-lg-3xl,
    )
  );
}

.xl {
  @include property-per-breakpoint(
    padding,
    (
      base: $button-padding-xl-vertical-base $button-padding-xl-horizontal-base,
      sm: $button-padding-xl-vertical-sm $button-padding-xl-horizontal-sm,
      md: $button-padding-xl-vertical-md $button-padding-xl-horizontal-md,
    )
  );
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-xl-base,
      sm: $font-size-xl-sm,
      md: $font-size-xl-md,
      lg: $font-size-xl-lg,
      xl: $font-size-xl-xl,
      2xl: $font-size-xl-2xl,
      3xl: $font-size-xl-3xl,
    )
  );
}

.disabled {
  pointer-events: none;
}
