@use "../../../../styles/main" as *;

.footer {
  background-color: $color-secondary;
  color: $color-primary;
  box-shadow: 0 -2px 4px 0 rgb(255 255 255 / 5%);
  position: relative;

  &Container {
    height: $layout-footer-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Highlighted {
    color: $color-accent;
  }
}
