@use "../../../../styles/abstracts.scss" as *;
// TODO Center properly

.pageMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-bottom: $layout-footer-height;
}
