// DOC Layout
$layout-navbar-height: 2.75rem !default;
$layout-breadcrumbs-height: 1.5rem !default;
$layout-footer-height: 5rem !default;
$layout-row-gap: 1.5rem !default;
$layout-hero-margin-bottom: 2em !default;
