// DOC Typography

// DOC CSS vars are defined by Next.js Google Fonts integration
$font-primary: var(--font-primary) !default;
$font-secondary: var(--font-secondary) !default;
$font-weight-thin: 100 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
