@use "../../../../styles/main" as *;

.favoritesWidgetIcon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0.125rem;
}

.favoritesWidgetEmptyStar {
  stroke: $color-warning;
}

.favoritesWidgetFilledStar {
  stroke: $color-warning;
  fill: $color-warning;
}
