@use "../../../../styles/main" as *;

.headerIconButtonWidget {
  display: flex;
  align-items: center;
  @include property-per-breakpoint(
    gap,
    (
      base: 0.25rem,
      xl: 0.5rem,
    )
  );
}

.headerIconButtonWidgetIcon {
  @include property-per-breakpoint(
    width,
    (
      base: $font-size-xs-base,
      sm: $font-size-xs-sm,
      md: $font-size-xs-md,
      lg: $font-size-xs-lg,
      xl: $font-size-xs-xl,
      2xl: $font-size-xs-2xl,
      3xl: $font-size-xs-3xl,
    )
  );
  @include property-per-breakpoint(
    height,
    (
      base: $font-size-xs-base,
      sm: $font-size-xs-sm,
      md: $font-size-xs-md,
      lg: $font-size-xs-lg,
      xl: $font-size-xs-xl,
      2xl: $font-size-xs-2xl,
      3xl: $font-size-xs-3xl,
    )
  );
}

.headerIconButtonWidgetIconHeader {
  color: $color-primary;
}

.headerIconButtonWidgetIconDrawer {
  color: $color-foreground;
}
