@use "../../../../styles/abstracts.scss" as *;

.favsWidgetIcon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0.125rem;

  // TODO Make dimensions responsive
}

.favsWidgetEmptyStar {
  stroke: $color-warning;
}

.favsWidgetFilledStar {
  stroke: $color-warning;
  fill: $color-warning;
}
