@use "../../../../styles/abstracts" as *;

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-radius: $border-radius;
  position: relative;
  border: 2px solid $color-accent2;
  transition: $transition-fast;
  overflow: hidden;

  &:hover {
    border-color: $color-foreground;
  }

  &:hover img {
    transform: scale(1.05);
  }

  img {
    transition: $transition-transform;
    transform-origin: center;
  }

  &Content {
    padding: 1rem;
    overflow: hidden;
  }

  &Options {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.cardSkeleton {
  min-height: 9.625rem;
  background-color: $color-accent2;
  border-radius: $border-radius;
  animation: $animation-pulse;
}
