@use "../../../styles/abstracts" as *;
@use "../../../styles/mixins" as *;

.favsPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "search"
    "filters"
    "results";
  gap: 0rem 2rem;
  min-height: 100vh;

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "filters search"
      "filters results";
  }

  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr 4fr;
  }

  @media (min-width: $screen-xl) {
    grid-template-columns: 1fr 4fr;
  }

  @media (min-width: $screen-2xl) {
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $screen-3xl) {
    grid-template-columns: 1fr 4fr;
  }
}

.favsPageSearch {
  grid-area: search;
  position: sticky;
  top: calc($layout-navbar-height - 1px);
  z-index: 10;
  background: linear-gradient(
    to bottom,
    $color-background 0%,
    $color-background 20%,
    transparent 100%
  );
  padding: 1rem 0 0 0;

  @media (max-width: #{$screen-sm - 1px}) {
    top: $layout-navbar-height;
  }
}

.favsPageAside {
  grid-area: filters;
  position: sticky;
  top: $layout-navbar-height;
  z-index: 9;
  background-color: $color-background;
  padding: 1rem 0 1rem 0;
  align-self: start;
  @include property-per-breakpoint(
    display,
    (
      base: none,
      md: block,
    )
  );
}

.favsPageResults {
  grid-area: results;
  padding: 2rem 0 1rem 0;
}

