@use "../abstracts" as *;

:root {
  // DOC Breakpoints - CSS custom properties for runtime use
  // TODO Move all other SCSS variables (colors, spacing, typography, etc.) to CSS custom properties here for single source of truth
  // TODO Consider migrate vars to a module in order to use them in the app, and not just in the styles
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;
  --color-foreground: #{$base-color-secondary};
  --color-background: #{$base-color-primary};
  --color-primary: #{$base-color-primary};
  --color-secondary: #{$base-color-secondary};
  --color-accent: #{$base-color-accent};
  --color-accent2: #{$base-color-accent2};
  --color-success: #{$base-color-success};
  --color-error: #{$base-color-error};
  --color-warning: #{$base-color-warning};
  --color-black: #{$base-color-black};
  --color-white: #{$base-color-white};

  @media (prefers-color-scheme: dark) {
    --color-foreground: #{$base-color-primary-dark};
    --color-background: #{$base-color-secondary-dark};
    --color-primary: #{$base-color-primary-dark};
    --color-secondary: #{$base-color-secondary-dark};
    --color-accent: #{$base-color-accent-dark};
    --color-accent2: #{$base-color-accent2-dark};
    --color-success: #{$base-color-success-dark};
    --color-error: #{$base-color-error-dark};
    --color-warning: #{$base-color-warning-dark};
    --color-black: #{$base-color-black};
    --color-white: #{$base-color-white};
  }
}

body {
  color: $color-foreground;
  background-color: $color-background;
  font-family: $font-primary;
}
