@use "../../../../styles/main" as *;

.typography {
  &:is(h1, h2, h3, h4, h5, h6) {
    font-family: $font-secondary;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: $disabled-opacity;
  color: color-mix(in srgb, currentcolor 50%, $color-secondary);
}

.default {
  color: $color-foreground;
}

.inverse {
  color: $color-background;
}

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-secondary;
}

.accent {
  color: $color-accent;
}

.accent2 {
  color: $color-accent2;
}

.thin {
  font-weight: $font-weight-thin;
}

.normal {
  font-weight: $font-weight-normal;
}

.bold {
  font-weight: $font-weight-bold;
}

.xs {
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-xs-base,
      sm: $font-size-xs-sm,
      md: $font-size-xs-md,
      lg: $font-size-xs-lg,
      xl: $font-size-xs-xl,
      2xl: $font-size-xs-2xl,
      3xl: $font-size-xs-3xl,
    )
  );
}

.sm {
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-sm-base,
      sm: $font-size-sm-sm,
      md: $font-size-sm-md,
      lg: $font-size-sm-lg,
      xl: $font-size-sm-xl,
      2xl: $font-size-sm-2xl,
      3xl: $font-size-sm-3xl,
    )
  );
}

.md {
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-md-base,
      sm: $font-size-md-sm,
      md: $font-size-md-md,
      lg: $font-size-md-lg,
      xl: $font-size-md-xl,
      2xl: $font-size-md-2xl,
      3xl: $font-size-md-3xl,
    )
  );
}

.lg {
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-lg-base,
      sm: $font-size-lg-sm,
      md: $font-size-lg-md,
      lg: $font-size-lg-lg,
      xl: $font-size-lg-xl,
      2xl: $font-size-lg-2xl,
      3xl: $font-size-lg-3xl,
    )
  );
}

.xl {
  @include property-per-breakpoint(
    font-size,
    (
      base: $font-size-xl-base,
      sm: $font-size-xl-sm,
      md: $font-size-xl-md,
      lg: $font-size-xl-lg,
      xl: $font-size-xl-xl,
      2xl: $font-size-xl-2xl,
      3xl: $font-size-xl-3xl,
    )
  );
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4;
}

// DOC Variant-specific shadows for better contrast, the shadow adapts to each variant for better visibility over background images, not necessarily tied to color palettes.
.shadow {
  text-shadow: 0 0.125rem 0.25rem rgba($base-color-black, 0.5),
    0 0.0625rem 0.125rem rgba($base-color-black, 0.3),
    0 0 0.5rem rgba($base-color-black, 0.2);
}

.secondary.shadow {
  text-shadow: 0 0.125rem 0.25rem rgba($base-color-white, 0.3),
    0 0.0625rem 0.125rem rgba($base-color-white, 0.2),
    0 0 0.5rem rgba($base-color-black, 0.4);
}

.inverse.shadow,
.primary.shadow,
.accent2.shadow {
  text-shadow: 0 0.125rem 0.25rem rgba($base-color-black, 0.7),
    0 0.0625rem 0.125rem rgba($base-color-black, 0.5),
    0 0 0.5rem rgba($base-color-black, 0.3);
}
