@use "../../../../styles/main" as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  height: $layout-breadcrumbs-height;
  position: sticky;
  top: $layout-navbar-height;
  background-color: $color-background;
}

.breadcrumbsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: $layout-breadcrumbs-height;
  gap: 0.5rem;
  box-sizing: border-box;
}
