@use "../../../../styles/abstracts.scss" as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  height: $layout-breadcrumbs-height;
  position: sticky;
  top: $layout-navbar-height;

  // TODO add better z-index for hierarchy system
  z-index: 99;
  background-color: $color-background;
}

.breadcrumbsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: $layout-breadcrumbs-height;
  gap: 0.5rem;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
